<main class="sl-head">
  <div class="container, sl-index-bg" >
    <h1>
      <span class="sl-icon">SL
        <p>鑫林日用品</p>
      </span>
    </h1>
  </div>
</main>
<div class="sl-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sl-dashboard"></div>
    </div>
  </div>
</div>

<%= link_to '更多產品', products_path, class:"btn btn-default", role:"button" %>
