<%= simple_form_for [:dashboard, :sunjust, @post], wrapper: :horizontal_form do |f| %>
  <%= f.input :title, label:'標題', label_html: { class: 'col-sm-3'} %>

  <%= f.input :content, label:'內容', label_html: { class: 'col-sm-3'}, input_html: {:rows => "8"} %>
  <div class="col-sm-3 control-label">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
