<div class="row">
  <div class="col-sm-3">
    <h4 class="pull-right">編輯消息</h4>
  </div>
  <div class="col-sm-9">
    <h4>
      建立時間：<%= @post.created_at.strftime("%m/%d %H:%M %Y") %>
    </h4>
  </div>
</div>
<%= render 'form' %>
