// Place all the styles related to the shinlin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

body div {
  font-size: 14px;
  line-height: 28px;
  color: #555;
}

.sl-head {
  text-align: center;
  margin-bottom: 60px;
  box-shadow : 0px 2px 1px rgba(51, 51, 102, 0.3);
}

.sl-index-bg {
  background-image: url(asset-path('shinlin_index.jpg'));
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  h1 {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
  }
}

.sl-tw {
  border-radius: 30px 0px 0px 30px;
  padding: 15px 30px 15px 40px;
  font-size: 22px;
  font-weight: normal;
  border-top: 2px solid #005B94;
  border-bottom: 2px solid #005B94;
  border-left: 2px solid #005B94;
  color: #005B94;
}

.sl-en {
  border: 2px solid #005B94;
  padding: 15px 55px 15px 45px;
  font-size: 22px;
  font-weight: normal;
  border-radius: 0 30px 30px 0px;
  background-color: #005B94;
  color: #fff;
}

.sl-icon {
  margin: 0 auto;
  width: 366px;
  display: block;
}

.sl-dashboard {
  text-align: center;
  margin: 20px 0;
  img {
    box-shadow: 0px 0px 5px rgba(60, 60, 60, 0.2);
    border-radius: 75px;
    padding: 5px;
  }
}

.sl-content-block {
  margin: 20px 0;
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

.col-sm-4 .product-thumbnail {
  margin: 5px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.sl-about {
  box-shadow: -2px -2px 5px rgba(20%,20%,40%,0.2);
  margin-top: 60px;
  padding:30px 0 80px;
  h2 {
    font-size: 24px;
    color: #005B94;
    margin-top: 38px;
    line-height: 38px;
  }
  article {
    text-align: justify;
  }
}

.sl-footer {
  margin: 0px auto 0px;
  padding: 5px 0;
  text-align: center;
  font-size: 10px;
  background-color: #999999;
}

/* product page */

nav {
  box-shadow: 0px 0px 5px rgba(50,50,50,0.1);
  margin-bottom: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.product-header {
  padding: 20px;
}

.header-contact {
  border: 1px solid #33BAB1;
  padding: 3px 12px 1px 8px;
  width: 100%;
  color: #33BAB1;
  .glyphicon {
    font-size: 38px;
    margin-top: 2px;
    margin-right: 5px;
  }
  p {
    margin-bottom: 0;
    line-height: 22px;
    font-size: 12px;
  }
}

.product-content {
  margin-top: 120px;
}

.product-show {
  border: 1px solid #CDD5DA;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border-radius: 6px;
  a {
      color: #555;
    h2 {
      background: #CCDEEA;
      padding:0 5px;
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 4px;
      }
  }
  img {
    width: 100%;
    border: 1px solid #ddd;
  }
  ul {
    padding-left: 6px;
    list-style: none;
    li {
      border-bottom: 1px solid #CDD5DA;
      line-height: 34px;
    }
  }
}

.more-product, .product-list {
  border: 1px solid #CDD5DA;
  padding: 10px 14px;
  width: 100%;
  color: #005B94;
  font-size: 16px;
}

.list-group a.list-group-item {
  border: none;
  &:hover {
    background: #F3F8FB;
  }
}

.show-image {
  img {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(50,50,50,0.1);
  }
}

.product-detail {
  font-size: 16px;
  padding: 10px 8px;
  margin-bottom: 5px;
  border: 1px solid #CCDEEA;
  h2 {
    font-size: 20px;
    padding-left: 8px;
    padding-top: 10px;
    margin: 4px 0 8px;
    line-height: 28px;
    border-top: 4px solid #005B94;
    color: #005B94;
  }
  .product-table tr td {
    border-top: 1px solid #CDD5DA;
    padding: 10px 8px 10px 8px;
    color: #777;
  }
}


.media-left {
  display: inherit;
}
