// Place all the styles related to the shinlin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.sl-head {
  text-align: center;
  margin-bottom: 20px;
}

.sl-index-bg {
  background-image: url(asset-path('shinlin_index.jpg'));
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  h1 {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
  }

}
.sl-icon {
  margin: 0 auto;
  color: #fff;
  border: 2px solid #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  display: block;
  font-size: 90px;
  line-height: 130px;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  p {
    font-size: 28px;
    line-height: 45px;
  }
}

.sl-dashboard {
  text-align: center;
}

.sl-content-block {
  margin: 20px 0;
  li {
    list-style-type: none;
  }
}

.col-sm-4 .product-thumbnail {
  margin: 5px 0;
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.sl-about {
  box-shadow: -2px -2px 5px rgba(20%,20%,40%,0.2);
  margin-top: 60px;
  padding:30px 0;
  article {
    text-align: justify;
  }
}

.sl-footer {
  margin: 50px auto 0px;
  padding: 5px 0;
  text-align: center;
  font-size: 10px;
  background-color: #999999;
}
