<header>
  <div class="container product-header">
    <div class="row">
      <div class="col-sm-7">
        <%= link_to root_path do %>
          <%= image_tag("sl_logo_p.png", class:"img-responsive") %>
        <% end %>
      </div>
      <div class="col-sm-4 col-sm-offset-1 hidden-xs">
        <%= image_tag("sl_phone.png", class:"img-responsive") %>
      </div>
      <div class="col-sm-12 visible-xs">
         <p>欢迎联系 电话: 769-87735660 邮箱: sunjust01@163.com</p>
      </div>
    </div>
  </div>
</header>
